# Nuxt
.nuxt
.output
.data
.cache

# Node
node_modules
npm-debug.log*

# Build
dist

# Environment
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Docker
.docker

# TypeScript
*.tsbuildinfo
